.wrapper {
  padding: 150px 0;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.mainHeading {
  font-size: var(--h2-headline-font);
  font-weight: var(--h2-headline-font-weight);
  line-height: 60px;
  margin-bottom: 80px;
  text-transform: uppercase;
}

.mainText {
  display: inline-block;
  max-width: 384px;
  font-size: var(--text-main-font);
  font-weight: var(--text-main-font-weight);
  line-height: 22px;
  color: var(--white);
  text-align: left;
  opacity: 0.6;
}

.textDesc {
  font-size: var(--text-description-font);
  font-weight: var(--text-description-font-weight);
  line-height: 18px;
  opacity: 0.6;
}

.heading {
  font-size: var(--h5-headline-font);
  font-weight: var(--h5-headline-font-weight);
  line-height: 22px;
  color: var(--white);
  margin-bottom: 5px;
}

.actionRow {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(252, 252, 252, 0.1);
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 80px;
}
.gallery img {
  transition: all 0.5s;
}

.gallery img:hover {
  scale: 1.1;
}
