.input {
  border-radius: 100px;
  border: 1px solid rgba(10, 10, 10, 0.1);
  padding: 20px 55px 20px 30px;
  font-size: var(--text-secondary-font);
  font-weight: var(--text-secondary-font-weight);
  color: var(--black);
  transition: all 0.5s;
  width: 100%;
  background: transparent;
  margin-bottom: 4px;
}

.input:disabled{
  border: 1px solid rgba(10, 10, 10, 0.10);
}

.input::placeholder {
  opacity: 0.6;
}

.input:hover {
  border: 1px solid #0a0a0a;
}

.input:focus {
  outline: initial;
  border: 1px solid #0a0a0a;
}

.inputWrapper {
  position: relative;
  width: 100%;
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  transition: fill 0.3s;
}

.icon, .icon path {
  fill: rgba(10, 10, 10, 0.2);
}

.inputWrapper:focus-within .icon, .inputWrapper:focus-within .icon path {
  fill: #34b366;
}

.iconError, .iconError path {
  fill: #f51818;
}

.inputError {
  border: 1px solid #f51818;
}

.error {
  display: flex;
  align-items: center;
}

.error span{
  color: var(--red);
  font-size: var(--text-description-font);
  font-weight: var(--text-description-font-weight);
  margin-left: 8px;
}
