.button {
  border-radius: 100px;
  display: block;
  width: fit-content;
  transition: all 0.5s;
}

.secondaryButton {
  background: var(--white);
  color: var(--black);
}

.primaryButton {
  color: var(--white);
  background: var(--orange);
  font-size: 16px;
  font-weight: 900;
}

.mainButton {
  color: var(--white);
  border: 1px solid rgba(252, 252, 252, 0.2);
}

.small {
  padding: 11px 22px;
  font-size: var(--text-button-secondary-font);
  font-weight: var(--text-button-secondary-font-weight);
}

.large {
  padding: 20px 40px;
  font-size: var(--text-button-main-font);
  font-weight: var(--text-button-main-font-weight);
}

.secondaryButton:hover,
.primaryButton:hover {
  background: #ff955c !important;
  color: var(--white) !important;
}

.secondaryButton:focus,
.primaryButton:focus {
  background: #ff6614 !important;
  color: var(--white) !important;
}
