.button {
  border-radius: 100px;
  display: block;
  width: fit-content;
}

.secondaryButton {
  background: var(--white);
  color: var(--black);
}

.primaryButton {
  color: var(--white);
  border: 1px solid rgba(252, 252, 252, 0.2);
}

.mainButton {
  color: var(--white);
  background: var(--orange);
  font-size: 16px;
  font-weight: 900;
}

.small {
  padding: 11px 22px;
  font-size: var(--text-button-secondary-font);
  font-weight: var(--text-button-secondary-font-weight);
}

.large {
  padding: 20px 40px;
  font-size: var(--text-button-main-font);
  font-weight: var(--text-button-main-font-weight);
}
