.card {
  padding: 30px;
  color: var(--white);
  border-radius: 10px;
  border: 1px solid rgba(252, 252, 252, 0.4);
  background: rgba(252, 252, 252, 0.2);
  max-width: 384px;
  height: 384px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 24px;
  margin-right: 24px;
}

.card:nth-child(even) {
  margin-right: 0px;
}

.card:not(:nth-child(1)):not(:nth-child(2)){
  margin-bottom: 0px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: var(--white);
  font-size: var(--h3-headline-font);
  font-weight: var(--h3-headline-font-weight);
}

.text {
  font-size: var(--text-main-font);
  font-weight: var(--text-main-font-weight);
  opacity: 0.6;
}

.imgWrapper {
  width: 40px;
  height: 40px;
  background: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.imgWrapper :global(.icon__fill path) {
  fill: var(--black);
}

.imgWrapper :global(.icon__stroke path) {
  stroke: var(--black);
}

.card.active .imgWrapper :global(.icon__fill path) {
  fill: var(--white);
}

.card.active .imgWrapper :global(.icon__stroke path) {
  stroke: var(--white);
}

.card.active {
  background: var(--white);
  border: initial;
}

.card.active .title, .card.active .text {
  opacity: 1;
  color: var(--black);
}

.card.active .imgWrapper{
  background: var(--green);
}