.wrapper {
  display: flex;
  max-width: 1200px;
  max-height: 338px;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.titleBlock {
display: flex;
flex-direction: column;
justify-content: space-between;
max-width: 250px;
}

.platformBlock {
  display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-end;
max-width: 94px;
}

.image {
  position: absolute;
  top: 5px;
  left: calc(50% - 235.5px);
  border-radius: 15px 15px 0px 0px;
}

.title {
  color: var(--white);
  font-size: var(--h4-headline-font);
  font-weight: var(--h4-headline-font-weight);
  max-width: 210px;
}

.subTitle {
  color: var(--white);
  font-size: var(--h5-headline-font);
  font-weight: var(--h5-headline-font-weight);
  margin-bottom: 10px;
}

.text {
  font-size: var(--text-secondary-font);
  font-weight: var(--text-secondary-font-weight);
  color: var(--white);
  opacity: 0.6;
}

.platform {
  font-size: var(--text-main-font);
  font-weight: var(--text-main-font-weight);
  color: var(--white);
  opacity: 0.6;
}