.word {
    color: var(--white);
    font-size: 40px;
    font-weight: 1000;
    line-height: 40px;
    text-transform: uppercase;
    filter: brightness(20%);
    transition: all 1s ease-out;
    margin-right: 10px;
    white-space: nowrap;
    user-select: none;
}

.word:hover {
    filter: brightness(100%);
}