.button {
    width: 60px;
height: 60px;
border: 1px solid rgba(252, 252, 252, 0.10);
border-radius: 100%;
display: flex;
align-items: center;
justify-content: center;
transition: 0.4s ease-in-out;
cursor: pointer;
}

.button:hover {
    background: rgba(255, 149, 92, 1);
}

.button:focus {
    background: rgba(255, 102, 20, 1);
}