.navbarList {
  display: flex;
  width: 350px;
  justify-content: center;
  gap: 16px;
}

.link {
  padding: 6px 12px;
  border-radius: 100px;
  transition: all 0.4s;
}

.link:hover {
  background: #ff955c;
}

.link:focus {
  background: #ff6614;
}

.activeLink {
  outline: var(--white) solid 1px;
  transition: all 0.4s;
}
